* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

.about {
    position: relative;

    width: 100%;
    background: linear-gradient(to right,
      #00A99D, #29CC64);
    justify-content: space-around;
    align-items: center;
    height: 100%;
}



/********* ANIMATION PART *********/

@media screen and (min-width: 1000px) {
    @keyframes floating {
        0% {transform: translate(0, 15px);}
        50% {transform: translate(0,-15px);}
        100% {transform: translate(0, 15px);}
    }
    
    .fbutton {
        position: absolute;
        top: 10%;
        left: 7%;
        height: 75%;
    
        animation: floating ease-in-out 3s forwards infinite;
    }
    
    .about img {
        cursor: pointer;
        position: absolute;
        top: 13%;
        left: 7%;
        height: 80%;
        border-radius: 10px;
    
        transition: all 0.3s linear;
    }
    
    .button:hover {
        transform: translate(-10px,-25px);
        box-shadow: rgba(0, 0, 0, 0.4) 10px -10px 20px 0px;
        transition: all 0.5s ease-in-out;
    }
    
    .button:active {
        transform: rotate(-10deg) translate(0px, 50px);
        transition: all 0.2s ease-in-out;
    }
    
    
    
    /********* LETTER CONTENT *********/
    
    @keyframes shake {
        0% {transform: rotate(0deg);}
        20% {transform: rotate(5deg);}
        40% {transform: rotate(-5deg);}
        60% {transform: rotate(5deg);}
        80% {transform: rotate(-5deg);}
        100% {transform: rotate(0deg);}
    }
    
    @keyframes takeout {
        0% {transform: translate(0, -50px);}
        100% {transform: translate(0, 0);}
    }
    
    #attach1 {
        display: none;
    
        max-width: 650px;
        position: absolute;
        top: 22%;
        left: 40%;
        right: 8%;
        text-align: justify;
    
        font-family: 'Hind Madurai', sans-serif;
        line-height: 33px;
        color: white;
        font-size: 22px;
    
        animation: takeout ease-in-out 1s forwards;
    }

    #attach1::first-line {
        font-size: 36px;
    }

}














@media screen and (max-width: 1000px) {
    @keyframes floating {
        0% {transform: translate(0, 15px);}
        50% {transform: translate(0,-15px);}
        100% {transform: translate(0, 15px);}
    }
    
    .fbutton {
        position: absolute;
        top: 10%;
        left: 7%;
        height: 75%;
    
        animation: floating ease-in-out 3s forwards infinite;
    }
    
    .about img {
        position: absolute;
        top: 13%;
        left: 7%;
        height: 80%;
        border-radius: 10px;
    
        transition: all 10s linear;
    }
    
    .button:hover {
        opacity: 0;
        transition: all 0.2s ease-in-out;
    }
    
    
    
    /********* LETTER CONTENT *********/
    
    @keyframes takeout {
        0% {transform: translate(0, -15px);}
        100% {transform: translate(0, 55px);}
    }
    
    #attach1 {
        display: none;
        overflow-y: auto;
    
        height: 70%;
        width: 90%;
        position: absolute;
        margin: auto 5%;
        text-align: start;
    
        font-family: 'Hind Madurai', sans-serif;
        line-height: 30px;
        color: white;
        font-size: 22px;
    
        animation: takeout ease-in-out 1s forwards;
    }

    #attach1::first-line {
        font-size: 35px;
    }
}