* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

.installation {
    position: relative;

    width: 100%;
    background: linear-gradient(to right,
      #FF6A58, #F78ED5);
    justify-content: space-around;
    align-items: center;
    height: 100%;
}


@media screen and (min-width: 1000px) {


/********* ANIMATION PART *********/

@keyframes floating {
    0% {transform: translate(0, 15px);}
    50% {transform: translate(0,-15px);}
    100% {transform: translate(0, 15px);}
}

.fbutton {
    position: absolute;
    top: 10%;
    left: 7%;
    height: 75%;

    animation: floating ease-in-out 3s forwards infinite;
}

.installation img {
    cursor: pointer;
    position: absolute;
    top: 13%;
    left: 7%;
    height: 80%;
    border-radius: 10px;

    transition: all 0.3s linear;
}

.button:hover {
    transform: translate(-10px,-25px);
    box-shadow: rgba(0, 0, 0, 0.4) 10px -10px 20px 0px;
    transition: all 0.5s ease-in-out;
}

.button:active {
    transform: rotate(-10deg) translate(0px, 50px);
    transition: all 0.2s ease-in-out;
}



/********* LETTER CONTENT *********/



@keyframes takeout {
    0% {transform: translate(0, -50px);}
    100% {transform: translate(0, 0px);}
}

#attach1 {
    display: none;

    max-width: 600px;
    position: absolute;
    top: 10%;
    left: 40%;
    right: 10%;
    text-align: justify;

    font-family: 'Hind Madurai', sans-serif;
    line-height: 30px;
    color: white;
    font-size: 20px;

    animation: takeout ease-in-out 1s forwards;
}

#attach2 {
    display: none;

    position: absolute;
    height: 50%;
    left: 30%;

    animation: takeout ease-in-out 1s forwards;
}

#attach2 img {
    position: relative;
    width: 35%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 15px;
    margin: 15px;

    transition: all 0.2s ease-in-out;
}

#attach2 img:hover {
    transform: scale(1.3);
    z-index: 2;
    transition: all 0.5s ease-in-out;
}

.minstallation {
    display: none;
}
}












@media screen and (max-width: 1000px) {

    .installation {
        display: none;
    }

    .minstallation {
        position: relative;
    
        width: 100%;
        background: linear-gradient(to right,
         #FF6A58, #F78ED5);
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }

    @keyframes floating {
        0% {transform: translate(0, 15px);}
        50% {transform: translate(0,-15px);}
        100% {transform: translate(0, 15px);}
    }
    
    .fbutton {
        position: absolute;
        top: 10%;
        left: 7%;
        height: 75%;
    
        animation: floating ease-in-out 3s forwards infinite;
    }
    
    .minstallation img {
        position: absolute;
        top: 13%;
        left: 7%;
        height: 80%;
        border-radius: 10px;
    
        transition: all 50000s linear;
    }
    
    .button:hover {
        opacity: 0;
        transition: all 0.2s ease-in-out;
    }
    
    /********* LETTER CONTENT *********/
    
    @keyframes takeout {
        0% {transform: translate(0, -15px);}
        100% {transform: translate(0, 55px);}
    }
    
    #attach3 {
        display: none;
        overflow-y: auto;
    
        height: 70%;
        width: 90%;
        position: absolute;
        margin: auto 5%;
        text-align: start;
    
        font-family: 'Hind Madurai', sans-serif;
        line-height: 33px;
        color: white;
        font-size: 22px;
    
        animation: takeout ease-in-out 1s forwards;
    }

    #attach3 img {
        position: relative;
        width: 85%;
        height: auto;
    }
}